@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100%;
  /* color: rgb(var(--foreground-rgb)); */
  background: #0e0c15;
  color: #fff;
}

.button-link:hover {
  border-bottom: 3px solid #01a7fa;
  color: #01a7fa;
}

.button-link-mobile:hover {
  border-left: 3px solid #01a7fa;
  color: #01a7fa;
}

.text-grey-1 {
  color: rgba(255, 255, 255, 0.5);
}

.border-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff98e2 0deg,
    #ffc876 16.88deg,
    #79fff7 142.5deg,
    #0182fa 258.75deg,
    #ff98e2 360deg
  );
}

.border-gradient-1 {
  border-color: linear-gradient(#33ceff, #d633ff);
}

.galaxy-bg {
  /* left: calc(50% - 1440px / 2) !important; */
  top: 213px !important;
}

.background-gray {
  background: rgba(0, 0, 0, 0.1);
}

.background-gray:hover {
  background: rgba(14, 12, 21, 0.4);
}

.padding-card {
  padding: 56px 24px 32px;
}

.discover-padding {
  padding: 0px 0px 120px 0px;
}

.footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* .button-read:hover {
  color: ;
} */
